<section id="about" class="about">

    <h1 class="user-heading"> <span>About</span> Us </h1>

    <div class="row">

        <div class="content">
            <h3>We take care of your healthy life</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur facere fugit hic modi, in dicta iusto eius at! Sequi voluptatibus nulla officiis voluptate. </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolores tempora odit et? Quisquam quo fugiat dignissimos quis, modi sed.</p>

            <a class="user-btn" href="/users">  Learn More <span class="fas fa-chevron-right"></span> </a>

        </div>

        <div class="image">
            <img src="/images/about-img.svg" alt="">
        </div>

    </div>

</section>