<section class="blogs" id="blogs">

    <h1 class="user-heading"> Our <span>Blogs</span> </h1>

    <div class="box-container">

        <div class="blog box">
            <div class="image">
                <img src="/images/blog-1.jpg" alt="">
            </div>

            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-calender"></i> 1st May, 2021</a>
                    <a href="#"> <i class="fas fa-user"></i> By Admin</a>
                </div>

                <h3>Blog Title Goes Here</h3>
                <p>Lorem i neque, molestiae nam numquam non voluptatum nisi tempora aliquam similique ullam et.</p>

                <a href="#" class="user-btn"> Learn More <span class="fas fa-chevron-right"> </span></a>

            </div>

        </div>


        <div class="blog box">
            <div class="image">
                <img src="/images/blog-2.jpg" alt="">
            </div>

            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-calender"></i> 1st May, 2021</a>
                    <a href="#"> <i class="fas fa-user"></i> By Admin</a>
                </div>

                <h3>Blog Title Goes Here</h3>
                <p>Lorem i neque, molestiae nam numquam non voluptatum nisi tempora aliquam similique ullam et.</p>

                <a href="#" class="user-btn"> Learn More <span class="fas fa-chevron-right"> </span></a>

            </div>

        </div>


        <div class="blog box">
            <div class="image">
                <img src="/images/blog-3.jpg" alt="">
            </div>

            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-calender"></i> 1st May, 2021</a>
                    <a href="#"> <i class="fas fa-user"></i> By Admin</a>
                </div>

                <h3>Blog Title Goes Here</h3>
                <p>Lorem i neque, molestiae nam numquam non voluptatum nisi tempora aliquam similique ullam et.</p>

                <a href="#" class="user-btn"> Learn More <span class="fas fa-chevron-right"> </span></a>

            </div>

        </div>


    </div>


</section>