<section class="demographics">

    <div class="column">

        <div class="box" id="registration-card">

            <h3 class="card-title">
                Registrations Today
            </h3>

            <h2 class="number-data">998743332</h2>

            <p>Lorem ipsum dolor sit  sit amet consecteiendis ansecteiendis animi omet consecteiendis animet consecteiendis anidio quo dolore, accusamus error?um dolor sit amet consecteiendis animi oimi omet consecteiendis animet consecteiendis</p>

        </div>

        <div class="box-container">

            <div class="box" id="total-cases">
                <h3 class="card-title">Total Cases</h3>
                <h2 class="number-data">998743332</h2>
                <p>Lorem ipsum dolor sit am? Placeat natus reiciendis animi odio quo dolore, accusamus error?</p>
            </div>

            <div class="box" id="active-cases">
                <h3 class="card-title">Active Cases</h3>
                <h2 class="number-data">998743332</h2>
                <p>Lorem ipsum dolor siceat natus reiciendis animi odio quo dolore, accusamus error?</p>
            </div>


            <div class="box" id="recovered-cases">
                <h3 class="card-title">Recovered Cases</h3>
                <h2 class="number-data">998743332</h2>
                <p>Lorem ipsum dot natus reiciendis animi odio quo dolore, accusamus error?</p>
            </div>


            <div class="box" id="deceased-cases">
                <h3 class="card-title"> Deceased </h3>
                <h2 class="number-data">998743332</h2>
                <p>Lorem ipst natus reiciendis animi odio quo dolore, accusamus error?</p>
            </div>

            

            <div class="box" id="deceased-cases">
                <h3 class="card-title"> Deceased </h3>
                <h2 class="number-data">998743332</h2>
                <p>Lorem ipsum aceat natus reiciendis animi odio quo dolore, accusamus error?</p>
            </div>


            <div class="box" id="deceased-cases">
                <h3 class="card-title"> Deceased </h3>
                <h2 class="number-data">998743332</h2>
                <p>Lorem ipsaceat natus reiciendis animi odio quo dolore, accusamus error?</p>
            </div>


        </div>

    </div>

</section>
    
