<section id="doctor" class="doctor">

    <h1 class="heading">
        Consult to our doctors
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="/images/doc1.png" alt="">
            <h3>John Doe</h3>
            <span>Senior Expert</span>
            <div class="share">
                <a href="/" class="fab fa-whatsapp"></a>
                <a href="/" class="fab fa-facebook-f"></a>
                <a href="/" class="fab fa-twitter"></a>
                <a href="/" class="fab fa-instagram"></a>
                <a href="/" class="fab fa-linkedin"></a>
            </div>
        </div>


        <div class="box">
            <img src="/images/doc2.png" alt="">
            <h3>John Doe</h3>
            <span>Senior Expert</span>
            <div class="share">
                <a href="/" class="fab fa-whatsapp"></a>
                <a href="/" class="fab fa-facebook-f"></a>
                <a href="/" class="fab fa-twitter"></a>
                <a href="/" class="fab fa-instagram"></a>
                <a href="/" class="fab fa-linkedin"></a>
            </div>
        </div>


        <div class="box">
            <img src="/images/doc3.png" alt="">
            <h3>John Doe</h3>
            <span>Senior Expert</span>
            <div class="share">
                <a href="/" class="fab fa-whatsapp"></a>
                <a href="/" class="fab fa-facebook-f"></a>
                <a href="/" class="fab fa-twitter"></a>
                <a href="/" class="fab fa-instagram"></a>
                <a href="/" class="fab fa-linkedin"></a>
            </div>
        </div>

    </div>

</section>