<div class="footer">

    <div class="box-container">

        <div class="box para">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eveniet aliquam ad dicta facere optio animi, voluptatibus officia earum numquam molestiae tempora nostrum?</p>
        </div>


        <div class="box">
            <h3>Locations</h3>
            <a href="/">India</a>
            <a href="/">USA</a>
            <a href="/">France</a>
            <a href="/">Russia</a>
        </div>


        <div class="box">
            <h3>Quick Links </h3>
            <a href="#home">Home</a>
            <a href="#prevent">Prevent</a>
            <a href="#symptoms">Symptoms</a>
            <a href="#doctors">Doctors</a>
            <a href="#precautions">Precautions</a>
            <a href="#handWash">Hand Wash</a>
        </div>


        <div class="box">
            <h3>Follow Us</h3>
            <a href="/">FaceBook</a>
            <a href="/">Twitter</a>
            <a href="/">Instagram</a>
            <a href="/">YouTube</a>
            <a href="/">LinkedIn</a>
            <a href="/">WhatsApp</a>
        </div>

    </div>

    <div class="credits">
        <h1> covwecare&copy; - All Rights Reserved </h1>
    </div>

</div>