<section class="handWash" id="handWash">

    <h1 class="heading">How to Wash Hands Properly</h1>

    <div class="column">

        <div class="box-container">

            <div class="box">
                <img src="/images/wash-a.png" alt="">
                <h3>Water and Soap</h3>
            </div>


            <div class="box">
                <img src="/images/wash-b.png" alt="">
                <h3>Palm to Palm</h3>
            </div>

            
            <div class="box">
                <img src="/images/wash-c.png" alt="">
                <h3> Between Fingers </h3>
            </div>


            <div class="box">
                <img src="/images/wash-d.png" alt="">
                <h3>Focus on Thumbs</h3>
            </div>


            <div class="box">
                <img src="/images/wash-e.png" alt="">
                <h3>Back to Hands</h3>
            </div>


            <div class="box">
                <img src="/images/wash-f.png" alt="">
                <h3>Focus on wrist</h3>
            </div>

        </div>

        
        <div class="main-image">
            <img src="/images/main-wash-img.png" alt="">
        </div>

    </div>

</section>