<header id = "header" class="header">

    <a href="/" class="logo"> C<span class="fas fa-virus"> </span>v We Care </a>

    <div id="menu" class="fas fa-bars"></div>

    <nav id="navbar" class="navbar">
        <a class="active" href="#home" class="nav-link"> Home </a>
        <a href="#prevent" class="nav-link"> Prevent </a>
        <a href="#symptoms" class="nav-link"> Symptoms </a>
        <a href="#precautions" class="nav-link"> Precautions </a>
        <a href="#handWash" class="nav-link"> Hand Wash </a>
    </nav>

</header>