<section class="precautions" id="precautions">

    <h1 class="heading">
        Take precautions against Covid-19
    </h1>

    <div class="column">
        <div class="box-container">

            <h3 class="title">
                Things You Should DO
            </h3>
            

            <div class="box">
                <img src="/images/do-img1.png" alt="">
                <div class="info">
                    <h3>Wash your hands</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque veniam praesentium aspernatur cupiditate nemo, sint exercitationem earum commodi non ducimus qui maiores?</p>
                </div>
            </div>


            <div class="box">
                <img src="/images/do-img2.png" alt="">
                <div class="info">
                    <h3>Always wear a mask</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque veniam praesentium aspernatur cupiditate nemo, sint exercitationem earum commodi non ducimus qui maiores?</p>
                </div>
            </div>


            <div class="box">
                <img src="/images/do-img3.png" alt="">
                <div class="info">
                    <h3>Stay Home during Fever</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque veniam praesentium aspernatur cupiditate nemo, sint exercitationem earum commodi non ducimus qui maiores?</p>
                </div>
            </div>

        </div>

        <div class="box-container">

            <h3 class="title">
                Things You Should NOT DO
            </h3>
            

            <div class="box">
                <img src="/images/dont-img1.png" alt="">
                <div class="info">
                    <h3>Avoid Close contact with animal</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque veniam praesentium aspernatur cupiditate nemo, sint exercitationem earum commodi non ducimus qui maiores?</p>
                </div>
            </div>


            <div class="box">
                <img src="/images/dont-img2.png" alt="">
                <div class="info">
                    <h3>Avoid Close contact with people</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque veniam praesentium aspernatur cupiditate nemo, sint exercitationem earum commodi non ducimus qui maiores?</p>
                </div>
            </div>


            <div class="box">
                <img src="/images/dont-img3.png" alt="">
                <div class="info">
                    <h3>Avoid crowded areas</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque veniam praesentium aspernatur cupiditate nemo, sint exercitationem earum commodi non ducimus qui maiores?</p>
                </div>
            </div>

        </div>

    </div>

</section>