<section class="prevent" id="prevent">
    <h1 class="heading">
        How to Prevent Virus
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="/images/pre-1.png" alt="">
            <h3>Wash your place</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis adipisci ipsum beatae in architecto, ex sunt aperiam qui, repellat recusandae magni rem laborum.</p>
        </div>


        <div class="box">
            <img src="/images/pre-2.png" alt="">
            <h3>Maintain Distance</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis adipisci ipsum beatae in architecto, ex sunt aperiam qui, repellat recusandae magni rem laborum.</p>
        </div>


        <div class="box">
            <img src="/images/pre-3.png" alt="">
            <h3>Don't Touch Face</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis adipisci ipsum beatae in architecto, ex sunt aperiam qui, repellat recusandae magni rem laborum.</p>
        </div>


        <div class="box">
            <img src="/images/pre-4.png" alt="">
            <h3>Wash your hand</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis adipisci ipsum beatae in architecto, ex sunt aperiam qui, repellat recusandae magni rem laborum.</p>
        </div>


        <div class="box">
            <img src="/images/pre-5.png" alt="">
            <h3>Use Napkin</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis adipisci ipsum beatae in architecto, ex sunt aperiam qui, repellat recusandae magni rem laborum.</p>
        </div>


        <div class="box">
            <img src="/images/pre-6.png" alt="">
            <h3>Wear a mask</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis adipisci ipsum beatae in architecto, ex sunt aperiam qui, repellat recusandae magni rem laborum.</p>
        </div>

    </div>

</section>