<section class="symptoms" id="symptoms">

    <h1 class="heading">
        Covid 19 Symptoms
    </h1>

    <div class="column">
        <div class="main-image">
            <img src="/images/main-symp-img.png" alt="">
        </div>

        <div class="box-container">

            <div class="box">
                <img src="/images/symp-a.png" alt="">
                <h3>Dry Cough</h3>
            </div>


            <div class="box">
                <img src="/images/symp-b.png" alt="">
                <h3>Sore Throat</h3>
            </div>


            <div class="box">
                <img src="/images/symp-c.png" alt="">
                <h3>Cold</h3>
            </div>

            <div class="box">
                <img src="/images/symp-d.png" alt="">
                <h3>Fever</h3>
            </div>

            <div class="box">
                <img src="/images/symp-e.png" alt="">
                <h3>Headache</h3>
            </div>

            <div class="box">
                <img src="/images/symp-f.png" alt="">
                <h3>Vomiting</h3>
            </div>


        </div>

    </div>

</section>