<section class="user-home" id="user-home">

    <div class="image">
        <img src="/images/home-img.svg" alt="">
    </div>

    <div class="content">
        <h3>Stay Safe, Stay Healthy</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore voluptates accusamus, optio deserunt assumenda ab dicta voluptate dolore, minus magnam aspernatur nam aut sed omnis exercitationem adipisci fuga hic! Temporibus.</p>

        <a href="#" class="user-btn">Contact Us <span class="fas fa-chevron-right"></span> </a>
        <a href="#appointments" class="user-btn">Book Appointment <span class="fas fa-chevron-right"></span> </a>

        <%- include('../utils/logOut.ejs') %> 
    </div>

</section>