<div class="container">

    <div>
        <h1 class="main-heading">Whoops, that page doesn't exist</h1>
    </div>

    <div>
        <p class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.  psum dolor sit amet consectetur adipisicing elit.  </p>

       
    </div>
    
    <div>
        <h1 id="error-code">404</h1>
    </div>

    <div>
        <a href="/"><button class="btn-err">Go to Home</button></a>
    </div>

</div>