@import url('../utils/colors.css');


.demographics{
    padding: 2%;
    background-color: #f4f6fa;
    min-height: 50%;
}


.demographics #registration-card{
    background-color: var(--orange);
    margin: 2rem;
    height: 100%;
    flex: 0.15;
}


.demographics .box-container{
    flex: 0.85;
}


.demographics .box{
    margin: 1.5rem;
    padding: 2.5rem;
}

.demographics .box:hover{
    box-shadow: var(--box-shadow);
}

.card-title{
    text-shadow: var(--text-shadow);
}
